Ex 5.1
Создайте переменную a. Запишите в неё целое число 3. Сделайте преобразование типа в вещественный и сохраните результат в переменную b.

In [1]:
aInt = 3
print(aInt)
bFloat = float(aInt)
print(bFloat)

3
3.0

Ex 5.2
Создайте переменную num1, равную 3.
Создайте переменную num2, равную 3.5.
Сложите эти два числа и присвойте результат переменной sum1.
Преобразуйте тип переменной num1 в вещественный и вновь произведите сложение с переменной num2.
Сохраните результат в переменную sum2.
Выведите результат переменных sum1 и sum2.

In [2]:
num1Int = 3
num2Float = 3.5
sum1Float = num1Int + num2Float
sum2Float = float(num1Int) + num2Float
print(sum1Float, sum2Float)

6.5 6.5

Ex 5.3
Создайте переменную int_one, равную 1. Преобразуйте её в строку и сохраните результат в переменную str_one. Выведите переменную str_one. 
В качестве ответа запишите результат вывода.

In [3]:
intOne = 1
strOne = str(intOne)
print(strOne)

1

Ex 5.4
Создайте переменную str_age_begin, равную 'my age is ' (в конце строки есть пробел).
Создайте переменную int_age, равную 18.
Сложите переменную str_age_begin с переменной int_age, преобразованной в строку.
Сохраните результат в переменную result_string.
Выведите полученную переменную.
В качестве ответа запишите результат вывода.

In [4]:
strAgeBegin = "my age is "
intAge = 18
resultString = strAgeBegin + str(intAge)
print(resultString)

my age is 18

Ex 5.5
Создайте переменную str_brothers_begin, равную 'I have ' (в конце строки есть пробел).
Создайте переменную count, равную 5, и переменную str_brothers_end, равную ' brothers' (в начале строки есть пробел).
Преобразуйте переменную count в строку и сложите с остальными переменными: str_brothers_begin + count + str_brothers_end.
Сохраните результат в переменную result_sentence.
Выведите полученную переменную.
В качестве ответа запишите результат вывода.

In [5]:
strBrotherBegin = "I have "
countInt = 5
strBrothersEnd = " brothers"
resultSentence = strBrotherBegin + str(countInt) + strBrothersEnd
print(resultSentence)

I have 5 brothers

Ex 5.6
Создайте переменную s, равную 'hello world'. Попробуйте преобразовать её к целому типу. Возникнет ли ошибка?

In [6]:
sStr = "hello world"
print(int(sStr))

ValueError: invalid literal for int() with base 10: 'hello world'

Ответ: да

Ex 5.7
Создайте переменную s, равную '10'. Преобразуйте её к целому типу и выведите результат. В качестве ответа запишите результат вывода.

In [ ]:
sStr = '10'
print(int(sStr))

Ex 5.8
Создайте переменную s, равную '11'. Преобразуйте её к вещественному типу и выведите результат. В качестве ответа запишите результат вывода. 
Результат вывода должен иметь вид, например 5.0.

In [ ]:
sStr = '11'
print(float(sStr))

Ex 5.9
Создайте переменную s, равную '50.4'. Попробуйте преобразовать её к целому типу. Возникнет ли ошибка?

In [ ]:
sStr = '50.4'
print(int(sStr))

Ответ - да

Ex 5.10
Создайте список list1 из цифр от 1 до 5 (включительно). Преобразуйте список в кортеж tpl1 с помощью конструктора типов tuple(). 
Выведите результат. В качестве ответа запишите результат вывода.

In [7]:
list1List = list(range(1, 6))
tpl1Tuple = tuple(list1List)
print(tpl1Tuple)

(1, 2, 3, 4, 5)

Ex 5.11
Создайте кортеж tpl1 из первых пяти букв английского языка. Преобразуйте кортеж в список list2 с помощью конструктора типов list(). 
Выведите результат. В качестве ответа запишите результат вывода.

In [8]:
tpl1Tuple = ('a', 'b', 'c', 'd', 'e')
list2List = list(tpl1Tuple)
print(list2List)

['a', 'b', 'c', 'd', 'e']

Ex 6.1
Создайте пустой список list1. Добавьте в него последовательно числа 1, 2, 3 с помощью метода .append(). Выведите результат. 
В качестве ответа запишите результат вывода.

In [9]:
list1List = []
list1List.append(1)
list1List.append(2)
list1List.append(3)
print(list1List)

[1, 2, 3]

Ex 6.2
Создайте список list2, используя метод range().
В качестве левой границы списка установите число -5 (минус пять), в качестве правой — число 15.
Задайте шаг, равный 2.
Создайте переменную list3, в которой будут числа 1,2,3,4.
Используя метод .extend() у списка list3, добавьте list2.
Выведите список list3.
В качестве ответа запишите результат вывода.

In [10]:
list2List = list(range(-5, 15, 2))
print(list2List)
list3List = list(range(1, 5))
print(list3List)
list3List.extend(list2List)
print(list3List)

[-5, -3, -1, 1, 3, 5, 7, 9, 11, 13]
[1, 2, 3, 4]
[1, 2, 3, 4, -5, -3, -1, 1, 3, 5, 7, 9, 11, 13]

Ex 6.3
Создайте список list6. В этом списке должны быть цифры в следующем порядке: 3, 1, -10, 5, 11, 20, 1, -10.
Скопируйте содержимое списка в переменную list7.
Произведите сортировку списка list6, а затем инвертируйте полученный список.
Сохраните результат в переменную list_result.
Выведите списки в переменных list7 и list_result.
В качестве ответа запишите результат вывода.

In [11]:
list6List = [3, 1, -10, 5, 11, 20, 1, -10]
list7List = list6List.copy()
#print(list7List)
list6List.sort()
#print(list6List)
list6List.reverse()
print(list6List, list7List)

[20, 11, 5, 3, 1, 1, -10, -10] [3, 1, -10, 5, 11, 20, 1, -10]

Ex 6.4
Создайте список list1. Положите в него два значения: 10, 15.
Преобразуйте список в кортеж и сохраните результат в tpl1.
Создайте словарь dict1.
По ключу, который соответствует кортежу tpl1, положите значение 'hello'.
Выведите полученный словарь dict1.
В качестве ответа запишите результат вывода.

In [12]:
list1List = [10, 15]
tpl1Tuple = tuple(list1List)
dict1Dict = {tpl1Tuple: 'hello'}
print(dict1Dict)

{(10, 15): 'hello'}

Ex 6.5
Создайте два словаря: dict1 и dict2. Положите в первый словарь по ключу 'name' значение 'unknown', 
а во второй по ключу 'name' положите значение 'Tom'.
Выведите dict1 и dict2.
Выведите ключи и значения из dict1. Для этого используйте методы dict.keys() и dict.values().
В качестве ответа запишите общий результат двух выводов.

In [13]:
dict1Dict, dict2Dict = {'name': 'unknown'}, {'name': 'Tom'}
print(dict1Dict, dict2Dict)
print(dict1Dict.keys(), dict1Dict.values())

{'name': 'unknown'} {'name': 'Tom'}
dict_keys(['name']) dict_values(['unknown'])

Ex 6.6
Создайте два множества: s1 и s2, положив в первое множество значения из строки 'hello', а во второе множество - 
значения из списка ['w', 'o', 'w']. Выведите результаты объединения, пересечения, вычитания этих двух множеств.
В качестве ответа запишите результат вывода (обязательно соблюдайте порядок вывода). 
Результат вывода нужно записать в одну строку через один пробел.

In [14]:
s1Set = set('hello')
testList = ['w', 'o', 'w']
s2Set = set(testList)
print(s1Set, s2Set)
firstOutputSet = s1Set.union(s2Set)
secondOutputSet = s1Set.intersection(s2Set)
thirdOutputSet = s1Set.difference(s2Set)
print(firstOutputSet, secondOutputSet, thirdOutputSet)

{'l', 'o', 'e', 'h'} {'w', 'o'}
{'w', 'l', 'e', 'o', 'h'} {'o'} {'l', 'e', 'h'}

Ex 6.7
Выведите переменную result, которая является сложением строки 'age is ' (в конце строки есть пробел) и числа 15. Воспользуйтесь 
преобразованием типов. В качестве ответа запишите результат вывода.

In [15]:
result = 'age is ' + str(15)
print(result)

age is 15