# Ex 2.3
Напишите функцию get_total(units, price), которая принимает на вход число единиц товара и стоимость каждой единицы.
Функция возвращает одно число — общую стоимость данного числа товаров.
Пример: print(get_total(15, 50))

In [1]:
def get_total(units, price):
    return units*price

get_total(10,50)

500

# Ex 3.1
Попробуйте добавить в функцию get_time проверку скорости на равенство нулю.
Если скорость равна нулю, верните ValueError с сообщением "Speed cannot be equal to 0!".
```python
def get_time(distance, speed):
    if distance < 0 or speed < 0:
        raise ValueError("Distance or speed cannot be below 0!")
    result = distance / speed
    return result
```
Пример:
```python
get_time(100, 0)
# ValueError: Speed cannot be equal to 0!
```

In [3]:
def get_time(distance, speed):
    if distance < 0 or speed < 0:
        raise ValueError("Distance or speed cannot be below 0!")
    elif speed == 0:
        raise ZeroDivisionError("Speed cannot be 0!")
    else:
        result = distance / speed
        return result

print(get_time(10, 1))

10.0

# Ex 3.2
```python
# В функцию должны передаваться 2 значения:
# число и степень корня
def root(value, n):
    # Как мы уже выяснили, чтобы посчитать
    # корень степени n из числа, можно возвести это число
    # в степень 1/n
    result = value ** (1/n)
    return result

# Посчитаем корень 3-ей степени (кубический корень) из 27
print(root(27, 3))
# Будет напечатано:
# 3.0
```
Модифицируйте функцию root так, чтобы передавать степень корня было необязательно.
Если степень корня не передана, функция должна возвращать значение квадратного корня.
Проверьте своё решение, вызвав функцию root:
```python
print(root(81))
# Должно быть напечатано:
# 9.0
```

In [5]:
def root(value, n = 2):
    result = value ** (1/n)
    return result

print(root(81, 3))

4.3267487109222245

# Ex 3.5
Дана функция add_mark:
```python
def add_mark(name, mark, journal=None):
   # Добавьте здесь проверку аргумента mark
   if journal is None:
       journal = {}
   journal[name] = mark
   return journal
```
Дополните её код таким образом, чтобы возникала ошибка ValueError с текстом "Invalid Mark!" при попытке поставить оценку не из списка: 2, 3, 4 или 5.
```python
add_mark('Ivanov', 6)
# ValueError: Invalid Mark!
```

In [9]:
def add_mark(name, mark, journal=None):
    if mark not in range(2, 6):
        raise ValueError("Invalid Mark!")

    if journal is None:
        journal = {}
    
    journal[name] = mark
    return journal

add_mark('John', 5)

{'John': 5}

# Ex 4.1
```python
print("Shopping list:")
print("bread", "butter", "eggs")
```
Сделайте так, чтобы покупки из предыдущего примера со списком выводились через запятую.

In [10]:
print("Shopping list:", end=' ')
print("bread", "butter", "eggs", sep=", ")

Shopping list: bread, butter, eggs

# Ex 5.1
Напишите функцию mult, которая считает произведение переданных в неё чисел через запятую.
Примечание. Посчитайте результат с использованием цикла for.
Пример:
```python
print(mult(3,5,10))
# Должно быть напечатано:
# 150
```

In [12]:
def mult(*args):
    multiplier = 1
    for i in args:
        multiplier *= i
    
    return multiplier

print(mult(4, 5, 10, 10))

2000

# Ex 5.2
Напечатайте список langs с использованием *, как в примере выше, но через запятую с пробелом.
```python
# Должно быть напечатано:
# Python, SQL, Machine Learning, Statistics
```

In [13]:
langs = ['Python', 'SQL', 'Machine Learning', 'Statistics']
print(*langs, sep=', ')

Python, SQL, Machine Learning, Statistics

# Ex 5.3
Создайте список оценок студента:
```python
marks = [4,5,5,5,5,3,4,4,5,4,5]
```
Передайте в функцию mean_mark, которая была создана в начале данного подраздела юнита, этот список, а также фамилию студента Kuznetsov с помощью оператора распаковки.
Функция mean_mark продублирована:
```python
def mean_mark(name, *marks):
    result = sum(marks) / len(marks)
    # Не возвращаем результат, а печатаем его
    print(name+':', result)
```
Пример:
```python
# Должно быть напечатано:
# Kuznetsov: 4.454545454545454
```

In [32]:
marks = [4,5,5,5,5,3,4,4,5,4,5]

def mean_mark(name, *mark):
    result = sum(mark) / len(mark)
    # Не возвращаем результат, а печатаем его
    print(name+':', result)
    
mean_mark('John', *marks)

John: 4.454545454545454

# Ex 6.1
В качестве упражнения попробуйте переписать использованную lambda-функцию в классический вид (с def). Назовите её get_length.
Затем воспользуйтесь полученной функцией для сортировки списка:
```python
new_list = ['bbb', 'ababa','aaa', 'aaaaa',  'cc']
new_list.sort(key=get_length)
print(new_list)
# Должно быть напечатано:
# ['cc', 'bbb', 'aaa', 'ababa', 'aaaaa']
```

In [2]:
new_list = ['bbb', 'ababa','aaa', 'aaaaa',  'cc']
def get_length(stlist):
    return len(stlist)

new_list.sort(key=get_length)
print(new_list)

['cc', 'bbb', 'aaa', 'ababa', 'aaaaa']

# Ex 6.3
Напишите lambda-функцию для расчёта гипотенузы прямоугольного треугольника:
она принимает на вход длины двух катетов и возвращает длину гипотенузы (третьей, самой длинной стороны прямоугольного треугольника).
Формула: c = (a**2 + b**2) ** (1/2), где a и b — длины катетов, — длина гипотенузы. Сохраните эту функцию в переменную hyp.
Пример работы функции:
```python
print(hyp(3,4))
print(hyp(1,9))
# 5.0
# 9.055385138137417
```

In [3]:
hyp = lambda a, b: (a ** 2 + b ** 2) ** 0.5

print(hyp(3, 4))

5.0

# Ex 6.4
Напишите функцию sort_sides(l_in), которая сортирует переданный в неё список l_in.
Входной список состоит из кортежей с парами чисел — длинами катетов прямоугольных треугольников.
Функция должна возвращать список, отсортированный по возрастанию длин гипотенуз треугольников.
Примечание. Вам пригодится lambda-функция из предыдущего задания. При этом вам потребуется заменить lambda от двух аргументов на lambda от одного аргумента и обращаться к элементам кортежа уже при вычислении гипотенузы.
Пример работы функции:
```python
print(sort_sides([(3,4), (1,2), (10,10)]))
# [(1, 2), (3, 4), (10, 10)]
```

In [9]:
l_in = [(3, 4), (1, 2), (10, 10)]
tuple_hyp = lambda el: (el[0] ** 2 + el[1] ** 2) ** 0.5

def sort_sides(list_in):
    list_in.sort(key=tuple_hyp)
    return list_in

sort_sides(l_in)

[(1, 2), (3, 4), (10, 10)]

# Ex 7.9
Напишите функцию get_less(list_in, num), которая принимает на вход список list_in, состоящий из чисел, и ещё одно число num.
Функция должна вернуть первое найденное число из списка, которое меньше переданного во втором аргументе. Если такого числа нет, необходимо вернуть None.
Пример:
```python
print(get_less([1, 5, 8,  10], 8))
# 1

print(get_less([1, 5, 8,  10], 0))
# None
```
Вместо pass напишите тело функции
```python
def get_less(list_in, num):
    pass
```

In [11]:
def get_less(list_in, num):
    for i in list_in:
        if i < num:
            return i
    
    return None

print(get_less([1, 5, 8, 10], 0))

None

# Ex 7.10
Напишите функцию split_date(date), которая принимает на вход строку, задающую дату, в формате ддммгггг без разделителей. Функция должна вернуть кортеж из чисел (int): день, месяц, год.
Примечание. Здесь вам пригодятся срезы строк.
Пример:
```python
print(split_date("31012019"))
# (31, 1, 2019)
```

In [14]:
def split_date(date):
    date_tuple = (int(date[0] + date[1]), int(date[2] + date[3]), int(date[4] + date[5] + date[6] + date[7]))
    return date_tuple

print(split_date("31012019"))

(31, 1, 2019)

# Ex 7.11
Напишите функцию is_prime(num), которая проверяет, является ли число простым.
Функция должна вернуть True, если число простое, иначе — False.
Примечание. Простым называют число, которое делится только на 1 или на само себя. Число 1 простым не является.
Пример:
```python
print(is_prime(1))
print(is_prime(10))
print(is_prime(13))
# False
# False
# True
```

In [ ]:
def is_prime(num):
    if num == 1:
        return False
    else:
        if num

# Ex 7.12
Напишите функцию between_min_max(...), которая принимает на вход числа через запятую.
Функция возвращает среднее арифметическое между максимальным и минимальным значением этих чисел, то есть (max + min)/2.
Пример:
```python
print(between_min_max(10))
print(between_min_max(1,2,3,4,5))
# 10.0
# 3.0
```

# Ex 7.13
Напишите функцию best_student(...), которая принимает на вход в виде именованных аргументов имена студентов и их номера в рейтинге (нагляднее в примере).
Необходимо вернуть имя студента с минимальным номером по рейтингу.
Пример:
```python
print(best_student(Tom=12, Mike=3))
print(best_student(Tom=12))
print(best_student(Tom=12, Jerry=1, Jane=2))
# Mike
# Tom
# Jerry
```

# Ex 7.14
Напишите lambda-функцию is_palindrom(str), которая принимает на вход одну строку str (имя параметра - x) и проверяет, является ли она палиндромом, то есть читается ли она слева-направо и справа-налево одинаково. 
Функция возвращает yes, если строка является палиндромом, иначе — no.
Примечание. Не пытайтесь схитрить — в тест включена проверка на то, что функция действительно является lambda.
Пример:
```python
print(is_palindrom('1234'))
print(is_palindrom('12321'))
# no
# yes
```

# Ex 7.15
Напишите lambda-функцию area(a,b), которая принимает на вход два числа — стороны прямоугольника — через запятую и возвращает площадь прямоугольника.
Пример:
```python
print(area(12,5))
# 60
```

# Ex 7.16
Перепишите функцию between_min_max из задания 7.12 в lambda-функцию.
Функция принимает на вход числа через запятую и возвращает одно число — среднее между максимумом и минимумом этих чисел.
Пример:
```python
print(between_min_max(1,2,3,4,5))
# 3.0
```

# Ex 7.17
Напишите функцию sort_ignore_case(ls), которая принимает на вход список ls и сортирует его без учёта регистра по алфавиту.
Функция возвращает отсортированный список.
Пример:
```python
print(sort_ignore_case(['Acc', 'abc']))
# ['abc', 'Acc']
```

# Ex 7.18
Напишите функцию exchange(usd, rub, rate), которая может принимать на вход сумму в долларах (usd), сумму в рублях (rub) и обменный курс (rate).
Обменный курс показывает, сколько стоит один доллар. Например, курс 85.46 означает, что один доллар стоит 85 рублей и 46 копеек.
В функцию должно одновременно передавать два аргумента. Если передано менее двух аргументов, должна возникнуть ошибка ValueError('Not enough arguments').
Если же передано три аргумента, должна возникнуть ошибка: ValueError('Too many arguments').
Функция должна находить третий аргумент по двум переданным. Например, если переданы суммы в разных валютах, должен возвращаться обменный курс.
Если известны сумма в рублях и курс, должна быть получена эквивалентная сумма в долларах, аналогично — если передана сумма в долларах и обменный курс.
Пример:
```python
print(exchange(usd=100, rub=8500))
# 85.0

print(exchange(usd=100, rate=85))
# 8500

print(exchange(rub=1000, rate=85))
# 11.764705882352942

print(exchange(rub=1000, rate=85, usd=90))
# ValueError: Too many arguments

print(exchange(rub=1000))
# ValueError: Not enough arguments
```