Ex 2.10
Создайте список из элементов от -3 до 6 и, используя срез [::-1], инвертируйте список.
Выведите полученный результат. В качестве ответа запишите результат вывода.

In [2]:
testList = list(range(-3, 7))
print(testList)
testReverse = testList[::-1]
print(testReverse)

[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1, 0, -1, -2, -3]

Ex 2.11
С помощью функции .split() получите список из строки 'hello kitty' и возьмите два последних 
элемента. В качестве ответа введите результат вывода.

In [3]:
testString = "hello kitty"
testSplit = list(testString.split())
print(testSplit)

['hello', 'kitty']

Ex 2.12
Создайте три переменные: a, b, c.
Положите в них следующие строковые значения: 'order1', 'order2', 'order3'.
Создайте пустой список orders, используя квадратные скобки.
Последовательно положите все три созданные переменные в список.

In [4]:
a = 'order1'
b = 'order2'
c = 'order3'
orders = []
orders.append(a)
orders.append(b)
orders.append(c)
print(orders)

['order1', 'order2', 'order3']

Ex 2.13
Создайте две переменные: book1, book2.
Положите в них следующие строковые значения: 'my book', 'your book'.
Создайте список books, используя квадратные скобки. В нём уже должно лежать значение 'all_books'.
Последовательно положите две созданные переменные в список.

In [5]:
book1 = "my book"
book2 = "your book"
books = ['all_books']
books.append(book1)
books.append(book2)
print(books)

['all_books', 'my book', 'your book']

Ex 2.14
Создайте список letters из первых пяти букв английского алфавита. Выведите его. Затем 
примените к списку letters метод .clear(). Снова выведите результат. В качестве ответа 
запишите результат последнего вывода.

In [6]:
lettersList = ['a', 'b', 'c', 'd', 'e']
print(lettersList)
lettersList.clear()
print(lettersList)

['a', 'b', 'c', 'd', 'e']
[]

Ex 2.15
Создайте список numbers из десяти произвольных элементов, но числа 5 и 1 в нём должны 
повторяться 3 и 2 раза соответственно. Примените к полученному списку метод .count(). В 
качестве аргумента возьмите число 5. Выведите полученный результат. В качестве ответа 
запишите результат вывода.

In [7]:
numbersList = [1, 2, 1, 3, 5, 6, 5, 4, 5, 7]
print(numbersList.count(5))

3

Ex 2.16
Создайте список my_books из пяти элементов: 'book1', 'book2', 'book3', 'book4', 'book5'. 
Затем используйте метод .copy() для копирования содержимого вашего списка в список 
tom_books. Выведите два полученных списка. В качестве ответа запишите результат вывода.

In [8]:
myBooks = ['book1', 'book2', 'book3', 'book4', 'book5']
tomBooks = myBooks.copy()
print(myBooks, tomBooks)

['book1', 'book2', 'book3', 'book4', 'book5'] ['book1', 'book2', 'book3', 'book4', 'book5']

Ex 2.17
Создайте список my_orders из пяти элементов: 'order1', 'order2', 'order3', 'order4', 
'order5'. Затем используйте квадратные скобки и двоеточие внутри для копирования содержимого 
вашего списка в список anne_orders. Выведите два полученных списка. В качестве ответа 
запишите результат вывода.

In [9]:
myOrders = ['order1', 'order2', 'order3', 'order4', 'order5']
anneOrders = myOrders[:]
print(myOrders, anneOrders)

['order1', 'order2', 'order3', 'order4', 'order5'] ['order1', 'order2', 'order3', 'order4', 'order5']

Ex 2.18
Создайте список all_things, в котором будет лежать три элемента: 'order1', 'order2', 'order3'.
Затем создайте список only_books, в котором будет лежать два элемента: 'book1', 'book2'.
Используя метод .extend(), обогатите переменную all_things.

In [10]:
allThings = ['order1', 'order2', 'order3']
onlyBooks = ['book1', 'book2']
allThings.extend(onlyBooks)
print(allThings)

['order1', 'order2', 'order3', 'book1', 'book2']

Ex 2.19
Создайте список nums с числами от 1 до 10. Примените к нему метод .reverse(). Выведите 
переменную nums. В качестве ответа введите результат вывода.

In [11]:
numsList = list(range(1, 11))
numsList.reverse()
print(numsList)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Ex 2.20
Создайте список random_values = [3, 5, 0, -1, 2, 10, 15, -5]. Вызовите метод .sort() на этом 
списке. Выведите список random_values. В качестве ответа запишите результат вывода.

In [12]:
randomValues = [3, 5, 0, -1, 2, 10, 15, -5]
randomValues.sort()
print(randomValues)

[-5, -1, 0, 2, 3, 5, 10, 15]

Ex 2.21
Создайте список list1. Запишите в него последовательно:

    число 5;
    число 0.2;
    строку 'hello there';
    список [1,2,3,4];
    строку 'bye'.

Выведите результат. В качестве ответа запишите результат вывода.

In [13]:
listOne = [5, 0.2, "hello there", [1, 2, 3, 4], 'bye']
print(listOne)

[5, 0.2, 'hello there', [1, 2, 3, 4], 'bye']

Ex 2.24
Создайте пустой кортеж tpl, используя конструктор типов tuple(). Выведите полученный результат. 
В качестве ответа напишите результат вывода.

In [14]:
tplTuple = tuple()
print(tplTuple)

()

Ex 2.25
Создайте кортеж tpl2 с одним числом, равным 255. Выведите результат. В качестве ответа запишите 
результат вывода.

In [15]:
tpl2Tuple = (255, )
print(tpl2Tuple)

(255,)

Ex 2.26
Создайте кортеж tpl3 с тремя числами: 15, 22 и 0. Выведите результат. В качестве ответа запишите 
результат вывода.

In [16]:
tpl3Tuple = (15, 22, 0)
print(tpl3Tuple)

(15, 22, 0)

Ex 3.4
Создайте пустой словарь empty_dict, используя конструктор типов. Выведите результат. В качестве 
ответа запишите результат вывода.

In [17]:
emptyDict = dict()
print(emptyDict)

{}

Ex 3.5
Создайте пустой словарь empty_dict1, используя конструктор типов, а затем второй словарь 
empty_dict2 с использованием фигурных скобок. С помощью функции print() выведите значения обеих 
переменных. Убедитесь, что результаты одинаковые.

In [18]:
emptyDict1 = dict()
emptyDict2 = {}
print(emptyDict1, emptyDict2)

{} {}

Ex 3.6
Создайте словарь alphabet_dict, в котором в качестве ключей будут пять первых букв английского 
языка, а в качестве значений для этих ключей будут числа от 1 до 5. 
Верните значение для буквы d:

In [19]:
alphabetDict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(alphabetDict)
print(alphabetDict['d'])

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
4

Ex 3.7
Создайте словарь place_and_money, в котором в качестве ключей будут числа от 1 до 3, а в 
качестве значений — числа 100, 50, 10. Выведите денежный приз для второго места:

In [20]:
placeAndMoney = {1: 100, 2: 50, 3: 10}
print(placeAndMoney[2])

50

Ex 3.8
В словарь place_and_money = {1: 100, 2: 50, 3: 10} добавьте четвёртое место с призом, равным 5. 
Выведите получившийся словарь. В качестве ответа запишите результат вывода.

In [21]:
placeAndMoney[4] = 5
print(placeAndMoney)

{1: 100, 2: 50, 3: 10, 4: 5}

Ex 3.9
В словаре place_and_money = {1: 100, 2: 50, 3: 10} измените призовое значение для третьего места
с 10 на 25. Выведите получившийся словарь. В качестве ответа запишите результат вывода.

In [22]:
placeAndMoney[3] = 25
print(placeAndMoney)

{1: 100, 2: 50, 3: 25, 4: 5}

Ex 3.10
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Очистите этот словарь. Выведите 
результат. В качестве ответа запишите результат вывода.

In [23]:
placeAndMoney.clear()
print(placeAndMoney)

{}

Ex 3.11
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Воспользуйтесь методом .keys() и 
выведите результат. В качестве ответа запишите результат вывода.

In [24]:
placeAndMoney = {1: 100, 2: 50, 3: 10}
print(placeAndMoney.keys())
print(list(placeAndMoney.keys()))

dict_keys([1, 2, 3])
[1, 2, 3]

Ex 3.12
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Воспользуйтесь 
методом .keys() и выведите результат. В качестве ответа запишите результат вывода.

In [25]:
nameToAge = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
print(nameToAge.keys())

dict_keys(['Anne', 'Anton', 'Phillip'])

Ex 3.13
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Воспользуйтесь 
методом .values() и выведите результат. В качестве ответа запишите результат вывода.

In [26]:
print(nameToAge.values())

dict_values([22, 27, 30])

Ex 3.14
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Воспользуйтесь методом .values() и 
выведите результат. В качестве ответа запишите результат вывода.

In [27]:
print(placeAndMoney.values())

dict_values([100, 50, 10])

Ex 3.15
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Попробуйте вывести приз для 20 места 
через метод .get(). В качестве значения по умолчанию поставьте число 0. В качестве ответа 
запишите результат вывода.

In [28]:
print(placeAndMoney.get(20, 0))

0

Ex 3.16
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Попробуйте вывести возраст для персонажа по имени 'Danny'. Если такого имени не будет в словаре, выведите -1. В качестве ответа запишите результат вывода.

In [29]:
print(nameToAge.get("Danny", -1))

-1

Ex 3.17
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Затем добавьте в него следующие 
места и значения: четвёртое место с призом 5, пятое место с призом 1. Используйте 
метод update(). Выведите результат. В качестве ответа запишите результат вывода.

In [30]:
print(placeAndMoney)
placeAndMoney.update({4: 5, 5: 1})
print(placeAndMoney)

{1: 100, 2: 50, 3: 10}
{1: 100, 2: 50, 3: 10, 4: 5, 5: 1}

Ex 3.18
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Измените у 
Анны возраст на 23, а у Филиппа — на 29. Используйте метод update(). Выведите результат. 
В качестве ответа запишите результат вывода.

In [31]:
print(nameToAge)
nameToAge.update({'Anne': 23, 'Phillip': 29})
print(nameToAge)

{'Anne': 22, 'Anton': 27, 'Phillip': 30}
{'Anne': 23, 'Anton': 27, 'Phillip': 29}

Ex 3.19
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Используя метод .pop(), удалите 
элемент словаря со значением приза за третье место. Результат работы метода запишите в 
переменную result и выведите её на экран. В качестве ответа запишите результат вывода.

In [32]:
placeAndMoney = {1: 100, 2: 50, 3: 10}
popResult = placeAndMoney.pop(3)
print(popResult)

10

Ex 3.20
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. С помощью 
метода .pop() удалите из словаря данные для Антона. Результат запишите в переменную 
result и выведите её на экран. В качестве ответа запишите результат вывода.

In [33]:
nameToAge = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
popResult = nameToAge.pop('Anton')
print(popResult)

27

Ex 3.21
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Через метод .setdefault() 
установите значение, равное 1, для десятого места. Выведите получившийся объект 
place_and_money. В качестве ответа запишите результат вывода.

In [36]:
placeAndMoney = {1: 100, 2: 50, 3: 10}
placeAndMoney.setdefault(10, 1)
print(placeAndMoney)

{1: 100, 2: 50, 3: 10, 10: 1}

Ex 3.22
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Через метод .setdefault
() обновите возраст у Анны с 22 до 32. Выведите результат — он не должен измениться. В качестве 
ответа запишите результат вывода.

In [37]:
nameToAge = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
nameToAge.setdefault('Anne', 32)
print(nameToAge)

{'Anne': 22, 'Anton': 27, 'Phillip': 30}

Ex 3.23
Создайте пустой словарь test_dict. Затем вставьте в него в качестве ключа число 5, а в качестве 
значения — список [3,4,5]. Затем в тот же словарь в качестве ключа добавьте кортеж (3,4,5), а 
его значением укажите строку 'strong man'. Выведите результат. В качестве ответа запишите 
результат вывода.

In [38]:
testDict = {}
testDict.update({5: [3, 4, 5]})
testDict.update({(3, 4, 5): "strong man"})
print(testDict)

{5: [3, 4, 5], (3, 4, 5): 'strong man'}

Ex 3.24
Создайте пустой словарь test_dict2. По ключу 'name' поставьте строку 'Sancho'. В качестве 
значения для ключа 'surname' поставьте 'Panso'. А для ключа 'info' добавьте словарь {'age': 35, 
'country': 'Mexico'}. Выведите результат. В качестве ответа запишите результат вывода.

In [39]:
testDictTwo = {}
testDictTwo.update({'name': 'Sancho', 'surname': 'Panso'})
testDictTwo.update({'info': {'age': 35, 'country': 'Mexico'}})
print(testDictTwo)

{'name': 'Sancho', 'surname': 'Panso', 'info': {'age': 35, 'country': 'Mexico'}}

Ex 3.25
Создайте пустой словарь test_dict3. По ключу 'info' добавьте список [10, 15, 27]. А ключу 
'about' поставьте словарь {'game': 'football', 'period': 5}. Затем измените значение по ключу 
'about' на 'dont know'. Выведите результат. В качестве ответа запишите результат вывода.

In [42]:
testDictThree = {}
testDictThree.update({'info': [10, 15, 27], 'about': {'game': 'football', 'period': 5}})
print(testDictThree)
testDictThree.update({'about': "dont know"})
print(testDictThree)

{'info': [10, 15, 27], 'about': {'game': 'football', 'period': 5}}
{'info': [10, 15, 27], 'about': 'dont know'}