Ex 4.1
Создайте с помощью конструктора типов пустое множество s1. Выведите результат. В качестве ответа запишите результат вывода.

In [1]:
s1Set = set()
print(s1Set)

set()

Ex 4.2
Создайте с помощью фигурных скобок множество s2, в котором будет пять элементов: 5, 10, 3, 2, 11. 
В качестве ответа запишите получившуюся строку кода.

In [2]:
s2Set = {5, 10, 3, 2, 11}
print(s2Set)

{2, 3, 5, 10, 11}

Ex 4.3
Создайте множество s3 с помощью конструктора типов из строки 'wow thats cool'. Выведите результат.
В качестве ответа запишите результат вывода в окне ниже.

In [6]:
s3Set = set("wow thats cool")
print(s3Set)

{'w', ' ', 'c', 'o', 's', 'h', 'a', 'l', 't'}

Ex 4.4
Создайте множество s1 из первых пяти строчных букв английского языка. Затем с помощью метода .add() добавьте новый элемент со значением 'hello'. 
Выведите результат.
В качестве ответа запишите результат вывода.

In [8]:
s1Set = {'a', 'b', 'c', 'd', 'e'}
print(s1Set)
s1Set.add('hello')
print(s1Set)

{'d', 'e', 'c', 'b', 'a'}
{'d', 'e', 'c', 'hello', 'b', 'a'}

Ex 4.5
Создайте множество s1 из первых пяти строчных букв английского языка. Затем с помощью метода .remove() удалите элемент 'd'. Выведите s1.
В качестве ответа запишите результат вывода.

In [9]:
s1Set.remove('d')
print(s1Set)

{'e', 'c', 'hello', 'b', 'a'}

Ex 4.6
Создайте множество s1 из первых шести строчных букв английского языка. Вызовите метод .discard() на элементе 'f'. Выведите результат.
В качестве ответа запишите результат вывода.

In [10]:
s1Set = {'a', 'b', 'c', 'd', 'e', 'f'}
s1Set.discard('f')
print(s1Set)

{'d', 'e', 'c', 'b', 'a'}

Ex 4.7
Создайте множество s1 из первых шести строчных букв английского языка. Вызовите метод .remove() на элементе 'f'. Выведите результат.
В качестве ответа запишите результат вывода.

In [11]:
s1Set = {'a', 'b', 'c', 'd', 'e', 'f'}
s1Set.remove('f')
print(s1Set)

{'d', 'e', 'c', 'b', 'a'}

Ex 4.8
Создайте множество alpha_set из первых пяти строчных букв английского алфавита. Затем создайте множество name из строки 'bad boy' (преобразуйте 
строку в множество с помощью функции set()). Примените метод .union() к созданным множествам. Выведите результат.
В качестве ответа запишите результат вывода.

In [14]:
alphaSet = {'a', 'b', 'c', 'd', 'e'}
print(alphaSet)
nameSet = set("bad boy")
print(nameSet)
outputSet = alphaSet.union(nameSet)
print(outputSet)

{'d', 'e', 'c', 'b', 'a'}
{'d', ' ', 'o', 'b', 'a', 'y'}
{'d', ' ', 'c', 'o', 'b', 'a', 'e', 'y'}

Ex 4.9
Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените метод .union() к 
созданным множествам. Выведите результат. В качестве ответа запишите результат вывода.

In [16]:
numSet = set(range(0, 11))
print(numSet)
dateNum = set([1, 9, 4, 8])
print(dateNum)
outputSet = numSet.union(dateNum)
print(outputSet)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{8, 1, 4, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Ex 4.10
Создайте множество alpha_set из первых пяти строчных букв английского алфавита. Затем создайте множество name из строки 'bad boy'. 
Примените метод .intersection() к созданным множествам. Выведите результат.
В качестве ответа запишите результат вывода.

In [18]:
print(alphaSet, nameSet)
outputSet = alphaSet.intersection(nameSet)
print(outputSet)

{'d', 'e', 'c', 'b', 'a'} {'d', ' ', 'o', 'b', 'a', 'y'}
{'d', 'b', 'a'}

Ex 4.11
Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените метод .intersection()
к созданным множествам. Выведите результат. В качестве ответа запишите результат вывода.

In [20]:
print(numSet, dateNum)
outputSet = numSet.intersection(dateNum)
print(outputSet)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10} {8, 1, 4, 9}
{8, 1, 4, 9}

Ex 4.12
Создайте множество alpha_set из первых пяти строчных букв английского алфавита. Затем создайте множество name из строки 'bad boy'. 
Примените метод .difference() к созданным множествам. В качестве базового множества используйте alpha_set. Выведите результат.
В качестве ответа запишите результат вывода.

In [22]:
print(alphaSet, nameSet)
outputSet = alphaSet.difference(nameSet)
print(outputSet)

{'d', 'e', 'c', 'b', 'a'} {'d', ' ', 'o', 'b', 'a', 'y'}
{'e', 'c'}

Ex 4.13
Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените 
метод .difference() к созданным множествам. Метод нужно применить к первому множеству. Выведите результат. В качестве ответа запишите 
результат вывода.

In [24]:
print(numSet, dateNum)
outputSet = numSet.difference(dateNum)
print(outputSet)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10} {8, 1, 4, 9}
{0, 2, 3, 5, 6, 7, 10}