Formatting strings

In [1]:
cur_date = input('Enter date: ')
currency = input('Enter currency: ')
rate = 86.73
print('The', currency, 'currency rate on the date', cur_date,'is', rate)
print('The {} currency rate on the date {} is {}'.format(currency, cur_date, rate))
print('The {0} currency rate on the date {2} is {1}'.format(currency, rate, cur_date))
print('The {} currency rate on the date {} is {:.3f}'.format(currency, cur_date, rate))

The Test2 currency rate on the date Test1 is 86.73
The Test2 currency rate on the date Test1 is 86.73
The Test2 currency rate on the date Test1 is 86.73
The Test2 currency rate on the date Test1 is 86.730

Ex 8.7

In [7]:
script = '''Hello {}!
Our store is happy to inform you that we have a personal offer for you. 
We give you a coupon for a {}% discount on your favorite products. 
You can learn more about the offer following the link attached below.
'''
clientName = 'Andrew'
discount = 15
script.format(clientName, discount)

'Hello Andrew!\nOur store is happy to inform you that we have a personal offer for you. \nWe give you a coupon for a 15% discount on your favorite products. \nYou can learn more about the offer following the link attached below.\n'

Ex 8.8

In [8]:
mean_absolute_error = 42.1838
model = 'linear regression'
print('Model - {}, MAE - {:.2f}'.format(model, mean_absolute_error))

Model - linear regression, MAE - 42.18

F-string

In [5]:
cur_date = input('Enter date: ')
currency = input('Enter currency: ')
rate = 86.73
print(f'The {currency} currency rate on the date {cur_date} is {rate}')
print(f'The {currency} currency rate on the date {cur_date} is {rate*1.2}')
print(f'The {currency} currency rate on the date {cur_date} is {rate*1.2:.3f}')

The 1 currency rate on the date 1\ is 86.73
The 1 currency rate on the date 1\ is 104.07600000000001
The 1 currency rate on the date 1\ is 104.076

Ex 8.10

In [10]:
userName: str = input("input ur name:")
userPercent = int(input("input %"))

#working own variant
print(f"Hello, {userName}! Yesterday you fulfilled the norm by {userPercent:.1f}%")

#1 var from skillfactory
#print("Hello, {0}! Yesterday you fulfilled the norm by {1:.1f}%".format(userName, userPercent))

#2 var from skillfactory
print("Hello, {}! Yesterday you fulfilled the norm by {}%".format(userName, userPercent))

#3 var from skillfactory
#print("Hello, {1}! Yesterday you fulfilled the norm by {0}%".format(userName, userPercent))
#actually wrong shit

#4 var from skillfactory
print(f"Hello, {userName}! Yesterday you fulfilled the norm by {userPercent}%")

#5 var from skillfactory
print(f"Hello, {userName}! Yesterday you fulfilled the norm by {userPercent:.1f}%")
#:.1f isn't working I don't know why
#python thought userPercent is a str

Hello, 1! Yesterday you fulfilled the norm by 2.0%
Hello, 1! Yesterday you fulfilled the norm by 2%
Hello, 1! Yesterday you fulfilled the norm by 2%
Hello, 1! Yesterday you fulfilled the norm by 2.0%

Ex 8.11

In [13]:
print("Hello, {}! Today is {}. Have a nice day!".format(input("Input your name:"), input("Input a day of the week:")))

Hello, 1! Today is 1. Have a nice day!

Str to int

In [14]:
a = int(input())
print(a + 10)

b = float('125.13')
c = 18.9
print(b + c)

d = 12942021.24910
dString = str(d)
print(dString.split('.'))

11
144.03
['12942021', '2491']

Str to int 2

In [1]:
advertisement = 'Refrigerator service life: 9 years 3 months'
advertisementSplit = advertisement.split()
print(advertisementSplit)

year = advertisementSplit[3]
month = advertisementSplit[5]
print(year, month)

serviceLife = int(year) * 12 + int(month)
print(serviceLife)

['Refrigerator', 'service', 'life:', '9', 'years', '3', 'months']
9 3
111

Ex 8.12

In [2]:
number = "138.12"
print(float(number))

138.12

Ex 10.1, 10.2, 10.3

In [1]:
#10.1
x = 100
print(x)
#right way to init field

#10.2
route66, home_address, Age = 1, 2, 3
print(route66, home_address, Age)
#right names for fields

#10.3
a = 3
b = 3.5 
c = 4
number = a + b + c
print(number)
#float type

100
1 2 3
10.5

Ex 10.4

In [2]:
tax = 13.5
salary = float(input())
print(salary * (1 - tax / 100))

86.5

Ex 10.5

In [4]:
description = input()
description = description.lower()
resultDescription = description.split()
print(resultDescription)

['test', '>test']

Ex 10.6

In [7]:
salary = "29000 rub."
salaryNum = float(salary.split()[0]) / 1000
print(salaryNum)

29.0

Ex 10.7

In [12]:
experience = "Work experience 202 months"
experienceFullMonth = experience.split()[2]
if float(experienceFullMonth) >= 12 :
    experienceYear = float(experienceFullMonth) // 12
    experienceMonth = float(experienceFullMonth) % 12
    print("Years: {}, months: {}".format(experienceYear, experienceMonth))
else :
    print(experienceFullMonth)

Years: 16.0, months: 10.0

Ex 10.8

In [16]:
description = "Male , 39 years old , born on November 27 , 1979"
descriptionSplit = description.split(" , ")
print(descriptionSplit)
if descriptionSplit[0] == 'Male' or descriptionSplit[0] == 'Woman' :
    gender = descriptionSplit[0]
else :
    print('Error')
ageDirty = descriptionSplit[1].split()
print(ageDirty)
if ageDirty[0].isdigit() :
    age = ageDirty[0]
else :
    print('Error')
if descriptionSplit[3].isdigit() :
    yearBirth = descriptionSplit[3]
else: 
    print('Error')
print(gender, age, yearBirth)

['Male', '39 years old', 'born on November 27', '1979']
['39', 'years', 'old']
Male 39 1979